@import "_reset";
@import "_owl.carousel.min";
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@700&display=swap');


$c-black: #000;
$c-white: #fff;
$c-grey: #222;
$c-grey-light: #333;
$c-section-grey: rgba(187, 187, 187, 0.3);
$c-primary-dark: #003399;
$c-primary-darker: #000033;
$c-primary: #3366CC;

$fz-big: 72px;
$fz-title: 64px;
$fz-full-width-card-title: 48px;
$fz-subtitle: 30px;
$fz-card-title: 36px;
$fz-section-text: 24px;
$fz-text: 18px;
$fz-small: 14px;

@mixin card-block {
    border: 1px solid $c-primary;
    border-radius: 5px;
    box-shadow: -2px 3px 15px rgba(51, 102, 204, 0.55);
}

@mixin heading-bg {
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}


body {
    font-size: $fz-text;
    color: $c-grey;
    background: $c-white;
    font-family: 'Montserrat', sans-serif
}

button:focus {
    outline: none;
}

.text {
    font-size: $fz-section-text;
    line-height: 27px;
}


@import "_navbar";

@import "_header";

@import "_carousel";

@import "_cards";

@import "_section";



.about-img-wrapper {
    img {
        width: auto;
        height: 460px;
        @include card-block();
        border-radius: 15px 0px 0px 15px;
    }
    
}


.list {
    margin-top: 25px;

    .list-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img {
            margin-right: 15px;
            width: 24px;
            height: 24px;
        }

        &:last-child {
            margin: 0;
        }
    }
}


.input-block  {
    font-size: 24px;

    input, textarea {
        font-size: 14px;
        border: 2px solid $c-primary;
        border-radius: 5px;
        display: block;
        padding: 15px;
        width: inherit;
        margin: 10px 0;
    }

    textarea {
        height: 200px;
    }
}

.button {
    padding: 10px 20px;
    display: block;
    background: $c-white;
    font-size: $fz-text;
    color: $c-primary-dark;
    font-weight: 600;
    transition: .5s;

    &:hover {
        background: $c-primary;
        color: $c-white;
    }
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background: $c-primary-darker;
    
    .footer-content {
        display: flex;
        flex-direction: column;
        a {
            display: flex;
            align-items: center;
            color: $c-white;
            margin: 25px;

            img {
                margin-right: 20px;
            }
        }

        .footer-city {
            font-size: $fz-section-text;
            color: #ccc;
            font-weight: 500;
        }
    }
}



@import "_responsive";