@import "_reset";
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@700&display=swap');


$c-black: #000;
$c-white: #fff;
$c-grey: #222;
$c-grey-light: #333;
$c-section-grey: rgba(187, 187, 187, 0.3);
$c-primary-dark: #003399;
$c-primary-darker: #000033;
$c-primary: #3366CC;

$fz-big: 72px;
$fz-title: 64px;
$fz-subtitle: 30px;
$fz-card-title: 36px;
$fz-section-text: 24px;
$fz-text: 18px;
$fz-small: 14px;

@mixin card-block {
    border: 1px solid $c-primary;
    border-radius: 5px;
    box-shadow: -2px 3px 15px rgba(51, 102, 204, 0.55);
}

@mixin heading-bg {
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


body {
    font-size: $fz-text;
    color: $c-grey;
    background: $c-white;
    font-family: 'Montserrat', sans-serif
}


.text {
    font-size: $fz-section-text;
    line-height: 27px;
}


.header {
    width: 100%;
    min-height: 100vh;
    background: url("../img/header-bg.png") center / cover no-repeat;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: $fz-big;
    color: $c-white;
    line-height: 120%;
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-self: center;
}



.navbar {
    display: flex;
    justify-content: space-between;

    .navbar-brand {
        font-weight: 700;
        font-size: 28px;
        color: $c-white;
        transition: .2s;

        &:hover {
            color: $c-primary;

            &.navbar-hover:after {
                opacity: 1;
            }
        }
    }
}

.navbar-nav {
    .nav-link {
        margin-left: 15px;
        font-size: 24px;
        color: $c-white;
        transition: .2s;

        &:hover {
            color: $c-primary;

            &.navbar-hover:after {
                opacity: 1;
            }
        }
    }
}

.navbar-hover {
    position: relative;
    &:after {
        content: "";
        display: block;
        background: $c-primary;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        opacity: 0;
        transition: .3s;
    };
}

.learn-more {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    cursor: pointer;
    

    &-text {
        font-size: $fz-small;
        font-weight: 700;
        text-transform: uppercase;
        color: $c-white;
        background: none;
        margin-bottom: 10px;
    }

    &-arrow {
        text-align: center;
    }
}



.section {
    padding-bottom: 150px;

   &-grey {
       background: $c-section-grey;
   }
}

.section-heading {
    font-size: $fz-title;
    font-weight: 700;
    letter-spacing: 1px;
    color: $c-white;
    text-align: center;
    margin-bottom: 60px;
}

#about-us {
    background: url("../img/s1-bg.png") fixed;
    @include heading-bg;
}

.about-img-wrapper {

    img {
        height: 460px;
        @include card-block();
        border-radius: 15px 0px 0px 15px;
    }
    
}













@import "_responsive";