@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@700&display=swap");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

body {
  font-size: 18px;
  color: #222;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  min-height: 100vh;
  background: url("../img/header-bg.png") center/cover no-repeat;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  color: #fff;
  line-height: 120%;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-brand {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar .navbar-brand:hover {
  color: #3366CC;
}

.navbar .navbar-brand:hover.navbar-hover:after {
  opacity: 1;
}

.navbar-nav .nav-link {
  margin-left: 15px;
  font-size: 24px;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar-nav .nav-link:hover {
  color: #3366CC;
}

.navbar-nav .nav-link:hover.navbar-hover:after {
  opacity: 1;
}

.navbar-hover {
  position: relative;
}

.navbar-hover:after {
  content: "";
  display: block;
  background: #3366CC;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.learn-more-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: none;
  margin-bottom: 10px;
}

.learn-more-arrow {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */