// Files
@import "_reset";
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@700&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;

$c-black: #000;
$c-white: #fff;
$c-grey: #222;
$c-grey-light: #333;
$c-primary-dark: #003399;
$c-primary: #3366CC;

$fz-big: 72px;
$fz-title: 64px;
$fz-subtitle: 30px;
$fz-card-title: 36px;
$fz-section-text: 24px;
$fz-text: 18px;
$fz-small: 14px;

